{% extends 'base.html.twig' %}

{% block title %}gestion styles{% endblock %}

{% block body %}
  <h1 class="pt-2 text-center">Gestion des styles </h1>

  <a href="{{path("admin_style_ajout")}}" class="btn btn-info">Ajouter un style</a>#}
  <hr>
  <table class="table table-hover">
      <thead>
          <tr>
            <th scope="col-3">Couleur</th>
            <th scope="col-5">Nom</th>
            <th scope="col-2"></th>
            <th scope="col-2">Actions</th>
          </tr>
        </thead>
        <tbody>
              {% for leStyle in lesStyles %}
                {% set nbAlbums = leStyle.albums|length %}
              
                  <td class="col-3"></td>
                  <td class="col-5">{{leStyle.nom}}</td>
                  <td class="col-2">
                  <span class="align-self-center badge bg-secondary"> {{nbAlbums}} {% if nbAlbums >1 %} albums {% else %} album{% endif %}</span>
                  </td>

                 <td class="col-2">
                    <a href="{{path('admin_style_modif', {'id': leStyle.id })}}" class="btn btn-primary"><i class="fas fa-pen"></i></a>
                      {#<a class="btn btn-light" 
                      data-bs-toggle="modal"
                      data-bs-target="#modalSimple"
                      data-titre="supression d'un artiste"
                      data-message="Etes vous sûr de vouloir supprimer l'artiste : {{leArtiste.nom}}"
                      data-libelleBouton = "Supprimer l'artiste"
                      data-lien= "{{ path('admin_artiste_suppression', {'id' : leArtiste.id}) }}">

                      <i class="far fa-trash-alt"></i></a>#}
                  
                  </td>
                  </tr>   
              {% endfor %}  
      </tbody>    
  </table>
        <div class="navigation mx-auto">
              {{ knp_pagination_render(lesStyles)}}
          </div>
{% endblock %}
{% block javascripts %}
  {% include "include/_modale.html.twig" %}
{% endblock %}
