{% extends 'base.html.twig' %}

{% block title %}modification artiste{% endblock %}

{% block body %}
<h1 class="pt-2 text-center">
{% if (app.request.attributes.get('_route')=="admin_style_ajout") %}
    Ajout
    {% else %}
    Modification
{% endif %}

 d'un artiste </h1>

{{form_start(formStyle)}}

{{form_row(formStyle.nom)}}
{{form_row(formStyle.couleur)}}


 
 <div class="row">
    <div class="col"><input type="submit", class="btn btn-light" value={% if (app.request.attributes.get('_route')=="admin_style_ajout") %}
    "Ajouter le style"
    {% else %}
   " Modifier le style"
{% endif %}
    ></div>
   
   
    <div class="col"><a href="{{ path('admin_styles')}}" class="btn btn-dark" >Annuler</a></div>
    
</div>



{{form_end(formArtiste)}}
{% endblock %}
